body{
    background-image: url('../assets/background.jpg');
    background-repeat: none;
    background-size: cover;
    opacity: 0.8;
}

.App{
    text-align: center;
    padding: 5%;
}

.right-button{
    cursor: pointer;
    float: right;
}

.list-item{
    display: inline;
}

